* {
	box-sizing: border-box;
	margin: 0:
	padding: 0;
}

h1 {
  font-family: Arial,Helvetica, sans-serif;
  text-align: center;
}

div {
  background-color: transparent;
  font-family: Arial,Helvetica, sans-serif

}
p {
  width: 32%;
  height: 150px;
  border: 1px solid black;
  float: left;
  margin-left: 1%;
  overflow: auto;
}

#p1 {
  background-color: grey;
  float:left;
  }
#p2 {
  background-color: grey;
}

#p3 {
  background-color: grey;
}

section {
	clear: left;
}
